.comentario {
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 60vw;
    width: 100%;
    padding-bottom: 5px;
}

.comentario-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    margin-top: 10px;
}

.comentario-avatar{
    margin: 10px;
}

.comentario-content-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.comentario-content-user {
    font-size: 12px;
    font-weight: 400;
}

.comentario-content-text {
    font-size: 15px;
    font-weight: 430;
}

.responses-button {
    cursor: pointer;
    width: auto;
    padding: 0;
    color: #0032B4;
    border: none;
    outline: none;
    font-weight: 600;
}

.comentario-reply {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.commentario-reply-button {
    cursor: pointer;
    width: auto;
    padding: 0;
    color: #FF5C00;
    border: none;
    outline: none;
    font-weight: 600;
}

.commentario-report-button {
    margin-left: 10px;
    cursor: pointer;
    width: auto;
    padding: 0;
    color: black;
    border: none;
    outline: none;
    font-weight: 600;
}

.commentario-report-button2 {
    cursor: pointer;
    width: auto;
    padding: 0;
    color: black;
    border: none;
    outline: none;
    font-weight: 600;
}

.commentario-delete-button {
    margin-left: 10px;
    cursor: pointer;
    width: auto;
    padding: 0;
    color: red;
    border: none;
    outline: none;
    font-weight: 600;
}