.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px; /* Altura predeterminada */
  min-height: 60px; /* Altura mínima */
  background-color: #ffffff;
  z-index: 1000;
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid;
}


.icon-header {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.icon-header:hover {
  transform: scale(1.05);
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin-left: 5px;
}

.search {
  flex: 0.5;
  margin: 0 20px;
  justify-content: space-between;
  display:flex;
  align-items: center;
}

.search input {
  width: 160%; 
  max-width: 300px; 
  height: 25px;
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  background-color: #f0f0f0;
  background-image: url('../assets/lupa.png');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 16px;
  background-origin: content-box;
  margin: 0px -35px;
  text-indent: 45px;
  font-weight: 500;
}

.search input::placeholder {
  text-indent: 45px;
  font-weight: 550;
  font-size: 15px; 
}

@media screen and (max-width: 1150px) {
  .search input {
    width: 60%; 
  }
}

.menu {
  display: flex;
}

.menu-info {
  display: flex;
}

.spanHeader {
  font-weight: 550;
  font-size: 15px;
}

.menu-button {
  height: 35px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #eeeeee;
}

.menu-button2 {
  height: auto;
  min-height: 35px;
  border: 1px solid #ff5c00;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #ffffff;
  color: #ff5c00;
  cursor: pointer;
}

.menu-button2:hover {
  background-color: #ffe9cd;
}

.menu-button3 {
  height: 35px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 20px;
  background-color: #ff5c00;
  color: #ffffff;
  cursor: pointer;
}

.menu-button3:hover {
  background-color: #ffb656;
}

.separator {
  width: 1px; 
  height: 18px;
  background-color: black;
  margin-top: 9px;
  margin-right: 20px;
  margin-left: 10px;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 1150px) {
  .search,
  .menu-info {
    display: none; 
  }

  .header {
    justify-content: none;
  }

  .menu {
    right: 0; 
  }

  .additional-content-for-small-screens {
    display: flex; 
    justify-content: flex-end; 
  }

  .menu-dropdown .search {
    display: flex; 
    justify-content: center; 
    margin-bottom: 10px; 
    margin: 10px 0px;
  }

  .menu-button3{
    margin: 0;
  }
}

.menu-toggle {
  display: none; 
}

@media screen and (max-width: 1150px) {
  .menu-toggle {
    display: block; 
    z-index: 1150;
    cursor: pointer;
    background: none;
    border: none;
  }

  .menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .menu-toggle.active div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-toggle.active div:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.active div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.menu-dropdown {
  display: none; 
}

@media screen and (max-width: 1150px) {
  .menu-dropdown {
    display: flex; 
    flex-direction: column;
    position: fixed;
    top: 80px; 
    width: 100%;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1150;
  }

  .menu-dropdown button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    text-align: left;
    cursor: pointer;
  }

  .menu-dropdown button:hover {
    background-color: #f0f0f0;
  }
}

.menu-usuario {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 156px; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 999;
}

.menu-button-user {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  text-align: left;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
}

.menu-button-user:hover {
  background-color: #f0f0f0; /* Cambiar el color de fondo al pasar el ratón */
}

.separator-user-menu {
  margin: 5px 0;
  width: 100%;
  height: 1px;
  background-color: #0000005e; /* Color de la línea separadora */
}

.search-button {
  height: 35px;
  border: 1px solid #ff5c00;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #ffffff;
  color: #ff5c00;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ffe9cd;
}
.menu-button-userAvatar {
  background-color:initial;
  color: initial;
  border: initial;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu-button-userAvatar:hover {
  transform: scale(1.1);
}

.menu-userAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.menu-button-publicar {
  height: 35px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 15px;
  background-color: #ff5c00;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-button-publicar:hover {
  transform: scale(1.05);
}

.menu-username-avatar {
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.menu-button-profile {
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
}

.menu-button-profile:hover {
  background-color: #f0f0f0; /* Cambiar el color de fondo al pasar el ratón */
}

.menu-button-notification {
  position: relative;
  border: none;
  margin: 0 5px;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
  border-radius: 40px;
}

.menu-button-notification:hover {
  background-color: #eeeeee;
}

.menu-notificacion {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 270px; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 999;
  max-height: 400px;
  overflow-y: auto;
}

.notification-badge {
  position: absolute;
  bottom: 5px; 
  left: 25px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background-color: #0032B4; 
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.span-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  text-align: left;
  color: #333333;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.search-drop-menu {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}