.footer {
    position:relative;
    width: 100%;
    background-color: #282828;
    color: #b7b7b7;
    display: flex;
    bottom: 0;
    height: 75px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 15vh;
  }
  
  .info {
    display: flex;
    gap: 30px;
  }

  .social-links{
    display: flex;
    gap: 30px;
    padding-left: 30vw;
    padding-right: 10vh;
  }
  
  .link {
    color: #b7b7b7;
  }
  
  @media screen and (max-width: 1300px) {
    .social-links{
      padding-left: 8vw;
    }
    .footer-content {
      padding-left: 3vh;
    }
  }

  /* Estilos para pantallas más pequeñas */
  @media screen and (max-width: 980px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .social-links {
      padding: 0;
    }
  
    .footer {
      padding: 1rem 0;
      height: 100%;
      justify-content: space-around;
    }

    .footer-content {
      gap: 5vh
    }

    .info {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  }
  