.su-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  max-width: 1200px;
  margin-bottom: 30px;
}

.su-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.su-logo-food {
  width: 146px;
  height: 146px;
}

.su-logo-text {
  font-size: 48px;
  font-weight: 500;
  color: #000000;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.su-sub-text {
  font-size: 32px;
  font-weight: 250;
  color: #000000;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.su-pagos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

.su-pagos-container > div {
  flex: 1
}

.su-pago {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .su-pagos-container {
      gap: 10px
  }
}

.su-logo {
  width: 200px;
  height: 200px;
}

.su-pago-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  padding: 50px;
}

.su-pago-button:hover {
  background-color: #eeeeee;
  transition: background-color 0.3s ease;
}

/* Estilos para el modal */
.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  overflow: auto; 
}

.modal-content {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  background-color: #fefefe; 
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 300px;
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black; 
  text-decoration: none; 
  cursor: pointer; 
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 30px;
  width: 60%;
  background-color: #282828;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.product-name {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color:#ff5c00
}

.product-description {
  margin-bottom: 8px;
  color:#000000;
  text-align: justify;
}

.product-description2 {
  margin-bottom: 8px;
  margin-top: 0px;
  color:#ffffff;
  text-align: justify;
}


.product-price {
  font-weight: bold;
  margin-bottom: 16px;
}

.buy-button {
  background-color: #ff5c00;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px;
  margin-bottom: 10px;
}

.buy-button:hover {
  background-color: #ff983d;
}

.donation-input {
  margin-top: 20px;
  width: 30%;
  background-color: #f4f4f4;
  border: solid 1px #282828;
}

.pago {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.valor {
  margin-top: 35px;
  margin-right: 5px;
}

.valor2 {
  margin-top: 35px;
  margin-left: 5px;
}

.content-pago {
  margin-top: 15px;
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
}

.mp {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.reasons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.reason-card {
  flex: 1;
  background-color: rgb(246, 246, 246);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  margin-right: 10px; 
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.reason-card:hover {
  transform: translateY(-10px); 
}

.reason-card:last-child {
  margin-right: 0; 
}

@media screen and (max-width: 768px) {
  .reasons-container {
    flex-direction: column; 
    align-items: stretch; 
  }

  .reason-card {
    margin-right: 0; 
  }
}

.card-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ff5c00; 
  padding: 10px 20px; 
  background-color: white; 
  border: 2px solid #ff5c00; 
  border-radius: 20px; 
  display: inline-block; 
  cursor: default; 
  transition: background-color 0.2s, color 0.3s;
}

.card-title:hover {
  background-color: #ff5c00;
  color: white; 
}

.card-title2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2B2D6E; 
  padding: 10px 20px; 
  background-color: white; 
  border: 2px solid #2B2D6E; 
  border-radius: 20px; 
  display: inline-block; 
  cursor: default; 
  transition: background-color 0.2s, color 0.3s;
}

.card-title2:hover {
  background-color: #2B2D6E;
  color: white; 
}

.card-title3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #3B4045; 
  padding: 10px 20px; 
  background-color: white; 
  border: 2px solid #3B4045; 
  border-radius: 20px; 
  display: inline-block; 
  cursor: default; 
  transition: background-color 0.2s, color 0.3s;
}

.card-title3:hover {
  background-color: #3B4045;
  color: white; 
}
