body {
  margin: 0;
  padding: 0;
  background-image: url(assets/background.png);
  min-height: 100vh;
  background-size: cover;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

* {
  font-family: 'Inter', sans-serif;
}

/*light = 300-400
  regular = 400-500
  medium = 500-600
  bold = 600-700
  black = 700-800
*/